@import url('https://fonts.googleapis.com/css?family=Lobster|Play');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Nav {
  position: fixed;
  width: 100%;
  height: 30px;
  padding: 45px 0;
  z-index: 100;
  background: rgba(28, 23, 100, 0.5);

}

.NavGroup {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
  color: paleturquoise;
  
}

.NavText {
  font-family: 'Lobster', cursive; 
  font-size: 40px;
}

.NavButton {
  font-size: 20px;
  padding: 7px 18px;
  background: paleturquoise;
  border: none;
  font-weight: 100;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.Hero {
  background: url('./images/background-binary.jpg');
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/background-binary.jpg'); */
  height: 500px;
  background-size: cover;
  background-position: center;
  
}

.HeroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 150px 50px;
  text-align: center;
  
}

.HeroText {
  /* margin: 0; */
  color: rgb(28, 43, 124);
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@media (max-width: 600px) {
  .HeroText {
    font-size: 30px;
  }
  .HeroGroup {
    /* padding: 130px 50px; */
  }
}

@keyframes HeroAnimation {
  0%{
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.CardGroup h2 {
  font-size: 50px;
  text-align: center;
  margin: 50px 20px;
  font-weight: 500px;
  background: linear-gradient(104deg, rgb(9, 17, 27) 0%, rgb(88, 100, 153) 100% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.Cards {
  margin: 50px 40px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  justify-items: center;
}

@media (max-width: 1000px) {
  .Cards {
  grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .Cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.Card {
  width: 250px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border: solid rgb(14, 196, 14) 10px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: 1s;
}

.Card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5)
}

.Card:hover img {
  transform: translateY(-20px);
}

.Card img {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 110%;
  transition: 1s;
}

.Card h3 {
  opacity: 0.8;
  font-size: 25px;
  margin: 20px;
  width: 50px;
  text-transform: uppercase;
}

.Card p {
  margin: 25px auto;
  font-size: 20px;
  font-weight: 600;
}

.Card h5 {
  margin: auto;
  font-size: 25px;
  font-weight: 500;
  color: rgb(14, 196, 14);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}